/.idea/
/.bundle/
/.sass-cache/
/coverage/
/db/*.sqlite3

/log/faye.rb.pid
/public/assets/
/tmp/
/.rbenv-version
/.powder
/persona.sublime-project
/persona.sublime-workspace
/.gitflow/
/chromedriver.log
/nbproject/
.DS_Store
/vendor/gems/cloud_ui
**/.DS_Store
.rvmrc
/config/google_api.yml
